In [84]:
# Import dependencies
import pandas as pd

In [85]:
# Read in .csv data
file = "../Resources/purchase_data.csv"
purchases = pd.read_csv(file)

# Preview dataset
purchases.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [86]:
# Store data frame of unique usernames
uniquePlayers = pd.DataFrame({"Username": purchases["SN"].unique()})

# Calculate & display the total number of players
nPlayers = len(uniquePlayers)
totalPlayers = pd.DataFrame({"Total Players": [nPlayers]})

totalPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
# Calculate summary data
nItems = len(purchases["Item ID"].unique())
avgPrice = purchases["Price"].mean()
nPurchases = purchases["Purchase ID"].count()
totalRevenue = purchases["Price"].sum()

# Construct the purchasing analysis data frame
purchasingAnalysisTotal = pd.DataFrame({"Number of Unique Items": [nItems],
                                       "Average Price": [avgPrice],
                                       "Number of Purchases": [nPurchases],
                                       "Total Revenue": [totalRevenue]})

In [88]:
# Map avg price and total revenue columns 
purchasingAnalysisTotal["Average Price"] = purchasingAnalysisTotal["Average Price"].astype(float).map("${:,.2f}".format)
purchasingAnalysisTotal["Total Revenue"] = purchasingAnalysisTotal["Total Revenue"].astype(float).map("${:,.2f}".format)

purchasingAnalysisTotal

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [89]:
# Get data frame of number of unique users within each gender
playersByGender = pd.DataFrame(purchases.groupby("Gender")["SN"].nunique())

# Add column calculating the % of all players that a given gender comprises
playersByGender["Percentage of Players"] = playersByGender["SN"]/len(uniquePlayers)

In [90]:
# Rename count of gender and map % of players
playersByGender = playersByGender.rename(columns={"SN": "Total Players"})
playersByGender["Percentage of Players"] = playersByGender["Percentage of Players"].astype(float).map("{:2.2%}".format)

playersByGender

                       Total Players Percentage of Players
Gender
Female                            81                14.06%
Male                             484                84.03%
Other / Non-Disclosed             11                 1.91%