In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read in .csv data
file = "../Resources/purchase_data.csv"
purchases = pd.read_csv(file)

# Preview dataset
purchases.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Store data frame of unique usernames
uniquePlayers = pd.DataFrame({"Username": purchases["SN"].unique()})

# Calculate & display the total number of players
nPlayers = len(uniquePlayers)
totalPlayers = pd.DataFrame({"Total Players": [nPlayers]})

totalPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculate summary data
nItems = len(purchases["Item ID"].unique())
avgPrice = purchases["Price"].mean()
nPurchases = purchases["Purchase ID"].count()
totalRevenue = purchases["Price"].sum()

# Construct the purchasing analysis data frame
purchasingAnalysisTotal = pd.DataFrame({"Number of Unique Items": [nItems],
                                       "Average Price": [avgPrice],
                                       "Number of Purchases": [nPurchases],
                                       "Total Revenue": [totalRevenue]})

In [5]:
# Map avg price and total revenue columns 
purchasingAnalysisTotal["Average Price"] = purchasingAnalysisTotal["Average Price"].astype(float).map("${:,.2f}".format)
purchasingAnalysisTotal["Total Revenue"] = purchasingAnalysisTotal["Total Revenue"].astype(float).map("${:,.2f}".format)

purchasingAnalysisTotal

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Get data frame of number of unique users within each gender
groupedGender = purchases.groupby("Gender")
playersByGender = pd.DataFrame(groupedGender["SN"].nunique())

# Add column calculating the % of all players that a given gender comprises
playersByGender["Percentage of Players"] = playersByGender["SN"]/len(uniquePlayers)

In [7]:
# Rename count of gender and map % of players
playersByGender = playersByGender.rename(columns={"SN": "Total Players"})
playersByGender["Percentage of Players"] = playersByGender["Percentage of Players"].astype(float).map("{:2.2%}".format)

# Remove the extra row with index name and display summary table, sorted by descending % of players
playersByGender.index.name = None
playersByGender.sort_values(by = ["Percentage of Players"], ascending = False)

                       Total Players Percentage of Players
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Create dataframes with total purchases and average purchase price by gender
genderPurchases = pd.DataFrame(groupedGender["Price"].count())
genderRevenue = pd.DataFrame(groupedGender["Price"].mean())

# Join the previous data frames on gender
genderMerged = pd.merge(genderPurchases, genderRevenue, on = "Gender", how = "inner")

# Calculate total purchase value and average purchase per person
genderMerged["Total Purchase Value"] = genderMerged["Price_x"] * genderMerged["Price_y"]
genderMerged["Average Total Purchase per Person"] = [genderMerged["Total Purchase Value"][n]/(groupedGender["SN"].nunique()[n]) for n in range(3)]

In [9]:
# Rename columns and remove index name
genderMerged = genderMerged.rename(columns={"Price_x": "Purchase Count",
                                           "Price_y": "Average Purchase Price"})
genderMerged.index.name = None

# Map formatting to avg price, total value, and avg per person columns
genderMerged["Average Purchase Price"] = genderMerged["Average Purchase Price"].astype(float).map("${:,.2f}".format)
genderMerged["Total Purchase Value"] = genderMerged["Total Purchase Value"].astype(float).map("${:,.2f}".format)
genderMerged["Average Total Purchase per Person"] = genderMerged["Average Total Purchase per Person"].astype(float).map("${:,.2f}".format)

# Display table sorted by descending Purchase Count
genderMerged.sort_values(by = "Purchase Count", ascending = False)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56